version: '3.8'
networks:
  mynetwork:
    driver: bridge
services:
  pasta-system:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    networks:
      - mynetwork
    depends_on:
      - db

  db:
    image: postgres:latest
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: mydatabase
    ports:
      - "5432:5432"
    networks:
      - mynetwork
    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql  # Mount init.sql for initialization 
      - db_data:/var/lib/postgresql  # Named volume for data persistence
  pgadmin:
      image: dpage/pgadmin4:latest
      restart: always
      environment:
        PGADMIN_DEFAULT_EMAIL: admin@admin.com
        PGADMIN_DEFAULT_PASSWORD: pgadmin
        PGADMIN_LISTEN_PORT: 80
      ports:
        - "5000:80"
      depends_on:
        - db
      networks:
        - mynetwork
      volumes:
      - db_data:/var/lib/postgresql  # Named volume for data persistence


volumes:
  db_data: